<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  {% load markup %}
	<channel>
<title>onelinr: {{ channel.name }}</title>
<link>http://onelinr.com/</link>
<description>A onelinr feed of channel {{ channel.name }}</description>
<pubDate>{{channel.date_created|date:"r"}}</pubDate>
<lastBuildDate>{{channel.date_created|date:"r"}}</lastBuildDate>
<generator>http://onelinr.com/</generator>

{% for post in posts %}
<item>
<title>{{ post.text}}</title>
	<link>http://onelinr.com/{{channel.name}}#oneliner-{{ post.post_id }}</link>
  <description><![CDATA[{{post.text|textile }}]]></description>
  <content:encoded><![CDATA[{{post.text|textile }}]]></content:encoded>

<pubDate>{{post.date_posted|date:"r"}}</pubDate>
<author>nobody@onelinr.com (nobody)</author>
<guid isPermaLink="false">tag:onelinr.com,2007:/onelinr/{{post.post_id}}</guid>
</item>
{% endfor %}

	</channel>
</rss>