<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
{% load markup %}
  
<title>onelinr</title>
<link>http://onelinr.com/</link>
<description>A feed of all recent onelinrs</description>
<generator>http://onelinr.com/</generator>

{% for post in posts %}
<item>
<title>{{ post.text }}</title>

<description><![CDATA[{{post.text|textile }}]]></description>
<content:encoded><![CDATA[{{post.text|textile }}]]></content:encoded>

<pubDate>{{ post.date_posted|date:"r" }}</pubDate>
<author>nobody@onelinr.com (nobody)</author>
</item>
{% endfor %}

	</channel>
</rss>
